# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,json,css,html}]
charset = utf-8

[*.json]
indent_style = tab
indent_size = 2

[*.html]
indent_style = tab
indent_size = 2

[develop/**.js]
indent_style = tab
indent_size = 2

[develop/**.jsx]
indent_style = tab
indent_size = 2

[webpack.config.js]
indent_style = tab
indent_size = 4

[.babelrc]
indent_style = tab
indent_size = 4

[.flowconfig, .gitignore]
indent_style = tab
indent_size = 2
